{% include "header.html" %} {% include "navbar.html" %}

<main role="main">
  <div class="container-fluid px-5">
    <h2 class="text-center">All Vehicles</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Vendor</th>
          <th>Model</th>
          <th>Type</th>
          <th>Capacity</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for v in vehicles %}
        <tr>
          <td>{{ v.make_id }}</td>
          <td>{{ v.vendor }}</td>
          <td>{{ v.model }}</td>
          <td>{{ v.type }}</td>
          <td>{{ v.capacity }}</td>
          <td>
            <button class="btn btn-warning">EDIT</button>
            <button class="btn btn-danger">DELETE</button>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6" class="text-center">No Vehicles Found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div>
      <a href="{% url 'add-vehicles' %}"
        ><button class="btn btn-success">ADD NEW</button></a
      >
    </div>
  </div>
</main>
